/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: black;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
}

button {
    outline-style: none !important;
    border: none;
}

a:link {
    text-decoration: none;
}

html,
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.all {
    background-color: black;
    height: 100vh;
}

input {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 107.4%;
    /* or 28px */
    color: black;
    border: none;
    width: 367px;
    height: 67px;
    background: #E5E5E5;
    box-shadow: 5px 11px 33px -2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-transform: uppercase;
}

button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    border: none;
    width: 367px;
    height: 67px;
    background: #00a86b;
    box-shadow: 5px 11px 33px -2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.controladores {
    width: 167px;
    height: 37px;
    font-size: 18px;
}

.gif img {
    max-width: 300px;
    width: 100%;
}

.showpesquisa p {
    background-color: #1C5E46;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    color: white;
}

.showpesquisa span {
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    text-align: center !important;
    background-color: #00a86b;
}

.showpesquisa p {
    background-color: #1C5E46;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    color: white;
}

.showpesquisa span {
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    text-align: center !important;
    background-color: #00a86b;
}

.navbar {
    padding: 20px;
    background-color: #00a86b;
}

.navbar p {
    color: white;
}

.modal-footer {
    justify-content: center;
}

.navbar img {
    max-width: 29px;
}

.freetest {
    font-size: 15px;
    border: 1px solid #00a86b;
    background: none !important;
    width: 160px;
    cursor: pointer;
    transition: .5s;
}

.freetest:hover {
    font-size: 18px;
    background: #00a86a67 !important;
}

.inputtest {
    background-color: white;
    width: 100%;
}

#accordion>.card {
    background: none;
    justify-content: center;
    align-items: center;
}

.btn-open {
    background-color: #1C5E46 !important;
    color: white;
    height: 40px;
    text-decoration: none !important;
}

.btn-open:hover {
    color: white;
    text-decoration: none !important;
    background-color: #00a86b !important;
}

#accordion {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}